<form [formGroup]="form" (ngSubmit)="submitted.emit()" class="search-form">
  <label>
    Listing ID
    <input pInputText type="number" formControlName="id" min="1" placeholder="Ex: 1">
  </label>
  <div class="search-actions">
    <button pButton type="submit" [loading]="loading" [label]="submitLabel"></button>
    <button
      *ngIf="secondaryLabel"
      pButton
      type="button"
      [outlined]="true"
      severity="secondary"
      [label]="secondaryLabel"
      (click)="secondaryAction.emit()">
    </button>
  </div>
</form>
