<section *ngIf="items.length">
  <div class="section-head">
    <h2>{{ title }}</h2>
  </div>

  <p-carousel
    [value]="items"
    [numVisible]="7"
    [numScroll]="1"
    [circular]="false"
    [showIndicators]="false"
    [responsiveOptions]="responsiveOptions">
    <ng-template let-item pTemplate="item">
      <app-listing-card
        [listing]="item"
        [imageSeedOffset]="imageSeedOffset"
        [scoreSeedOffset]="scoreSeedOffset">
      </app-listing-card>
    </ng-template>
  </p-carousel>
</section>
