<div class="gallery" *ngIf="photos.length; else placeholderGallery">
  <div class="gallery__photo gallery__main" *ngFor="let photo of photos | slice:0:1">
    <img *ngIf="imageUrls[photo.id]" [src]="imageUrls[photo.id]" [alt]="photo.altText || title" />
  </div>
  <div class="gallery__photo" *ngFor="let photo of photos | slice:1:5">
    <img *ngIf="imageUrls[photo.id]" [src]="imageUrls[photo.id]" [alt]="photo.altText || title" />
  </div>
</div>

<ng-template #placeholderGallery>
  <div class="gallery">
    <app-photo-placeholder class="gallery__main" [seed]="listingId" [rounded]="0" [label]="'Main photo'"></app-photo-placeholder>
    <app-photo-placeholder [seed]="listingId + 1" [rounded]="0" [label]="'photo 2'"></app-photo-placeholder>
    <app-photo-placeholder [seed]="listingId + 2" [rounded]="0" [label]="'photo 3'"></app-photo-placeholder>
    <app-photo-placeholder [seed]="listingId + 3" [rounded]="0" [label]="'photo 4'"></app-photo-placeholder>
    <app-photo-placeholder [seed]="listingId + 4" [rounded]="0" [label]="'photo 5'">
      <button type="button" class="gallery__all ra-btn ra-btn--ghost ra-btn--sm">
        <i class="pi pi-images"></i>Show all photos
      </button>
    </app-photo-placeholder>
  </div>
</ng-template>
