<section class="gallery" *ngIf="coverPhoto as cover; else placeholderGallery" aria-label="Listing photos">
  <figure class="gallery__main">
    <img *ngIf="imageUrls[cover.id]" [src]="imageUrls[cover.id]" [alt]="cover.altText || title" />
  </figure>

  <div class="gallery__thumbnails" *ngIf="thumbnailPhotos.length">
    <figure class="gallery__thumbnail"
            *ngFor="let photo of thumbnailPhotos; trackBy: trackPhoto">
      <img *ngIf="imageUrls[photo.id]" [src]="imageUrls[photo.id]" [alt]="photo.altText || title" />
    </figure>
  </div>
</section>

<ng-template #placeholderGallery>
  <section class="gallery" aria-label="Listing photos">
    <app-photo-placeholder class="gallery__main" [seed]="listingId" [rounded]="0" [label]="'Main photo'"></app-photo-placeholder>
  </section>
</ng-template>
