<div class="map">
  <svg class="map__roads" width="100%" height="100%">
    <defs>
      <pattern id="ra-roads" x="0" y="0" width="80" height="80" patternUnits="userSpaceOnUse">
        <path d="M0 40h80M40 0v80" stroke="#fff" stroke-width="1"></path>
        <path d="M0 20L80 60M0 60L80 20" stroke="#fff" stroke-width="0.4"></path>
      </pattern>
    </defs>
    <rect width="100%" height="100%" fill="url(#ra-roads)"></rect>
  </svg>
  <svg class="map__water" width="100%" height="100%" viewBox="0 0 400 300" preserveAspectRatio="none">
    <path d="M20 220 Q 80 180 140 220 Q 200 260 260 220 Q 320 180 380 220 L 400 300 L 0 300 Z" fill="#b9d1e8" opacity="0.55"></path>
    <ellipse cx="320" cy="80" rx="50" ry="22" fill="#b9d1e8" opacity="0.55"></ellipse>
  </svg>

  <button
    *ngFor="let pin of positioned()"
    type="button"
    class="map__pin"
    [class.map__pin--active]="pin.id === selectedId"
    [style.left.%]="pin.x"
    [style.top.%]="pin.y"
    (click)="pinSelect.emit(pin.id)">
    <ng-container *ngIf="showPrices; else iconOnly">{{ format(pin.price) }}</ng-container>
    <ng-template #iconOnly><i class="pi pi-map-marker"></i></ng-template>
  </button>

  <div class="map__zoom">
    <button type="button"><i class="pi pi-plus"></i></button>
    <div class="map__zoom-divider"></div>
    <button type="button"><i class="pi pi-minus"></i></button>
  </div>
  <div class="map__caption">Map · placeholder</div>
</div>
